<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">


        <div class="x_panel">
          <div class="x_title">
            <h2>
                {{user_name}}: <i class="green">  {{myPip}} </i> After-PreIP
                <!--<i class="red">  {{myPip}} </i> Pre-IP,  
                <i class="blue"> {{myIP}} </i> In Processing -->  &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                <!--{{myNoteContent}}
                <span class="glyphicon glyphicon-stop text-success" style="color:rgba(38, 185, 154, 0.8)">Just-Called</span> 
                <span class="glyphicon glyphicon-stop text-success" style="color:rgba(52, 152, 219, 0.8)">Called-This-Week</span> 
                <span class="glyphicon glyphicon-stop text-success" style="color:rgba(243, 156, 18, 0.8)">Warning</span> 
                <span class="glyphicon glyphicon-stop text-success" style="color:rgba(231, 76, 60, 0.8)">Losing</span> 
                                
                
                
                <input type="button" id="btn-filter" value="Flagged Loans Only"/>
                <input type="button" id="btn-undo" value="All Loans"/>
                -->                
                <input type="checkbox" id="flag_only" value="flag_only" onclick="filter_flag_loans()"/> Flag Loans Only
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
      
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          
          <div class="x_content">
                        
            <table id="datatable-fixed-header" class="table table-striped table-bordered" cellspacing="0" width = "100%"   >
                <thead>
                    <tr>                                             
                        <th>LoanNum</th>
                        <th>HmSt</th>
                        <th>BorrName</th>
                        <th>AE</th>
                        <th>LstSts</th>
                        <th>Sts Date</th>                        
                        <th>BorrPh</th>
                        <th>Last Call</th>                        
                        <th>Net Exp Dt</th>
                        <th>Net Exp Nm</th>
                        <th>ContractExpirationDate</th>
                        <th>Flag</th>   
                    </tr>
                </thead>
            </table>
            
          </div>
        </div>   
        

        <div class="x_panel">
                <div class="x_title">
                  <h2>
                      {{user_name}}: <i class="red">  {{myIP}} </i> Before PreIP
                      <!--<i class="red">  {{myPip}} </i> Pre-IP,  
                      <i class="blue"> {{myIP}} </i> In Processing -->&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                      <input type="checkbox" id="flag_only_1" value="flag_only" onclick="filter_flag_loans_1()"/> Flag Prospects Only
                  </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
            
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                
                <div class="x_content">
                              
                  <table id="datatable-prequals" class="table table-striped table-bordered" cellspacing="0" width = "100%"   >
                      <thead>
                          <tr>                                             
                              <th>LoanNum</th>
                              <th>HmSt</th>
                              <th>BorrName</th>
                              <th>AE</th>
                              <th>LstSts</th>
                              <th>Sts Date</th>                        
                              <th>BorrPh</th>
                              <th>Last Call</th>                        
                              <th>Net Exp Dt</th>
                              <th>Net Exp Nm</th>
                              <th>ContractExpirationDate</th>
                              <th>Flag</th>   
                          </tr>
                      </thead>
                  </table>
                  
                </div>
        </div>   
                            
    </div>
</div>



 