
        <!-- page content -->
        <div class="right_col" role="main">
                                
                <div class="row">                              
                     <!-- Loan # -->
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel" >
                            <div class="x_title">
                                <div class="input-group">
                                  <form action="" class="form-control" method="get" id="nameform111">
                                    <input type="text"  name = "loanNumber" style="border:none"  size="30" placeholder="Loan Number...">                                                               
                                  </form>
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" form ="nameform111" type="submit">Go!</button>                                      
                                  </span>   
                                                                    
                                </div>                                
                              <div class="clearfix"></div>
                            </div>
                              <!--  {{ radar_efficiency.as_html }}-->                              
                                <h4 class="name">  {{ my_loaninfo_fstnm }}&nbsp{{ my_loaninfo_lstnm }} </h4>                                                                                    
                                <div class="flex">
                                    <ul class="list-inline count2">
                                      <li>
                                        <h3>{{total_int_saved}}</h3>
                                        <span>Int Saved</span>
                                      </li>
                                      <li>
                                        <h3>{{lastPaymentYear}}</h3>
                                        <span>Pay-Off Years</span>
                                      </li>
                              
                                    </ul>
                                </div>
                                <div class="flex">
                                    <ul class="list-inline count2">
                                      <li>
                                        <h3>{{total_int_saved}}</h3>
                                        <span>Int Saved</span>
                                      </li>                                    
                                      <li>
                                        <h3>{{erate2}}</h3>
                                        <span>Equivalent Rate</span>
                                      </li>
                                    </ul>
                                </div>                                
                                <p>
                                  The Analytics found when ABC happens, your capture rate will be doubled. 
                                </p>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                 </div>              
                 
                 