{% block TrustBox %}

<!-- TrustBox widget - Carousel -->
<div class="row">
          <div class="x_panel">            
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="571fa0520000ff00058c0de4" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="5">
                <a href="https://www.trustpilot.com/review/newdayusa.com" target="_blank">Trustpilot</a>
            </div>                     
          </div>
</div>    
<!-- End TrustBox widget -->            

{% endblock %}